--
-- PostgreSQL database dump
--

\restrict 97CvVK7surfwoxODwmBvQpkTnWfkh414LQXcr5XhdRbTH0Feef8tkXeC8xep6ue

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.exit_distance DROP CONSTRAINT IF EXISTS fktk393gmel165xgltt2nfmjgoh;
ALTER TABLE IF EXISTS ONLY public.booking DROP CONSTRAINT IF EXISTS fklex7ticy9ci7dah7e9atc98rf;
ALTER TABLE IF EXISTS ONLY public.exit_distance DROP CONSTRAINT IF EXISTS fkkxy1psa96kqifl653iaixn5ej;
ALTER TABLE IF EXISTS ONLY public.meeting_room_equipment DROP CONSTRAINT IF EXISTS fkjaoxfm2jrsjti7467ukbn1fhr;
ALTER TABLE IF EXISTS ONLY public.meeting_room DROP CONSTRAINT IF EXISTS fkivthbas0ifscukuqtr7vcsfk8;
ALTER TABLE IF EXISTS ONLY public.booking DROP CONSTRAINT IF EXISTS fkihg9s7htmftrngqq7ls8tmu08;
ALTER TABLE IF EXISTS ONLY public.meeting_room_equipment DROP CONSTRAINT IF EXISTS fkd0juacdx1sd1qry4qoxm4wi9a;
ALTER TABLE IF EXISTS ONLY public.building_exit DROP CONSTRAINT IF EXISTS fkapr9ygaw0k8wlhy56cn98q74q;
ALTER TABLE IF EXISTS ONLY public.meeting_room DROP CONSTRAINT IF EXISTS fk9djpu29x4pheo0iy4i7jfq2sg;
ALTER TABLE IF EXISTS ONLY public.notification DROP CONSTRAINT IF EXISTS fk2k589bvvxex5a79rt1bdhnw0r;
ALTER TABLE IF EXISTS ONLY public.building DROP CONSTRAINT IF EXISTS ukoyx9p4qp0ot5mw2vdn1qgax00;
ALTER TABLE IF EXISTS ONLY public.meeting_room DROP CONSTRAINT IF EXISTS ukh7pn94v8j64tftri1pri2aucp;
ALTER TABLE IF EXISTS ONLY public.client DROP CONSTRAINT IF EXISTS ukbfgjs3fem0hmjhvih80158x29;
ALTER TABLE IF EXISTS ONLY public.client DROP CONSTRAINT IF EXISTS ukah5c1ribskm746956okm9283n;
ALTER TABLE IF EXISTS ONLY public.notification DROP CONSTRAINT IF EXISTS notification_pkey;
ALTER TABLE IF EXISTS ONLY public.meeting_room DROP CONSTRAINT IF EXISTS meeting_room_pkey;
ALTER TABLE IF EXISTS ONLY public.meeting_room_equipment DROP CONSTRAINT IF EXISTS meeting_room_equipment_pkey;
ALTER TABLE IF EXISTS ONLY public.exit_distance DROP CONSTRAINT IF EXISTS exit_distance_pkey;
ALTER TABLE IF EXISTS ONLY public.equipment DROP CONSTRAINT IF EXISTS equipment_pkey;
ALTER TABLE IF EXISTS ONLY public.client DROP CONSTRAINT IF EXISTS client_pkey;
ALTER TABLE IF EXISTS ONLY public.building DROP CONSTRAINT IF EXISTS building_pkey;
ALTER TABLE IF EXISTS ONLY public.building_exit DROP CONSTRAINT IF EXISTS building_exit_pkey;
ALTER TABLE IF EXISTS ONLY public.booking DROP CONSTRAINT IF EXISTS booking_pkey;
DROP TABLE IF EXISTS public.notification;
DROP TABLE IF EXISTS public.meeting_room_equipment;
DROP TABLE IF EXISTS public.meeting_room;
DROP TABLE IF EXISTS public.exit_distance;
DROP TABLE IF EXISTS public.equipment;
DROP TABLE IF EXISTS public.client;
DROP TABLE IF EXISTS public.building_exit;
DROP TABLE IF EXISTS public.building;
DROP TABLE IF EXISTS public.booking;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking (
    booking_id bigint NOT NULL,
    attendees integer,
    booking_status character varying(255),
    check_in_time timestamp(6) without time zone,
    end_time timestamp(6) without time zone,
    is_active boolean,
    purpose character varying(255),
    start_time timestamp(6) without time zone,
    user_id bigint NOT NULL,
    room_id bigint NOT NULL,
    booking_code character varying(255)
);


ALTER TABLE public.booking OWNER TO postgres;

--
-- Name: booking_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.booking ALTER COLUMN booking_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.booking_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: building; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.building (
    id bigint NOT NULL,
    address character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.building OWNER TO postgres;

--
-- Name: building_exit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.building_exit (
    exit_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_active boolean NOT NULL,
    name character varying(255) NOT NULL,
    building_id bigint NOT NULL
);


ALTER TABLE public.building_exit OWNER TO postgres;

--
-- Name: building_exit_exit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.building_exit ALTER COLUMN exit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.building_exit_exit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: building_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.building ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.building_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client (
    user_id bigint NOT NULL,
    department character varying(255),
    email character varying(255),
    is_active boolean,
    password character varying(255),
    role character varying(255),
    user_type character varying(255),
    username character varying(255) NOT NULL
);


ALTER TABLE public.client OWNER TO postgres;

--
-- Name: client_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.client ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.client_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: equipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.equipment (
    equipment_id bigint NOT NULL,
    description character varying(255)
);


ALTER TABLE public.equipment OWNER TO postgres;

--
-- Name: equipment_equipment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.equipment ALTER COLUMN equipment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_equipment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: exit_distance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exit_distance (
    id bigint NOT NULL,
    time_in_seconds integer NOT NULL,
    exit_from_id bigint NOT NULL,
    exit_to_id bigint NOT NULL
);


ALTER TABLE public.exit_distance OWNER TO postgres;

--
-- Name: exit_distance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.exit_distance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.exit_distance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: meeting_room; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meeting_room (
    room_id bigint NOT NULL,
    capacity integer,
    floor integer,
    has_door_control boolean,
    has_light_control boolean,
    has_ventilation_control boolean,
    image_mime character varying(255),
    image_original_name character varying(255),
    image_path character varying(255),
    is_active boolean,
    location character varying(255),
    name character varying(255),
    status character varying(255),
    client_id bigint,
    has_beamer_control boolean,
    has_blind_control boolean,
    has_vacuum_robot boolean,
    has_whiteboard boolean,
    time_to_nearest_exit integer,
    exit_id bigint
);


ALTER TABLE public.meeting_room OWNER TO postgres;

--
-- Name: meeting_room_equipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meeting_room_equipment (
    room_id bigint NOT NULL,
    equipment_id bigint NOT NULL
);


ALTER TABLE public.meeting_room_equipment OWNER TO postgres;

--
-- Name: meeting_room_room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.meeting_room ALTER COLUMN room_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.meeting_room_room_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_read boolean,
    type character varying(255),
    booking_id bigint,
    CONSTRAINT notification_type_check CHECK (((type)::text = ANY (ARRAY[('CONFIRMATION'::character varying)::text, ('REMINDER_START'::character varying)::text, ('REMINDER_END'::character varying)::text, ('MISSED'::character varying)::text])))
);


ALTER TABLE public.notification OWNER TO postgres;

--
-- Name: notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: building; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.building (id, address, name) FROM stdin;
1	Universitaetsstrasse 15, 6020 Innsbruck, Austria	MCI I
2	Universitaetsstrasse 15, 6020 Innsbruck, Austria	MCI II
3	Weiherburggasse 8, 6020 Innsbruck, Austria	MCI III
4	Maximilianstrasse 2, 6020 Innsbruck, Austria	MCI IV
5	Kapuzinergasse 9, 6020 Innsbruck, Austria	MCI V
\.


--
-- Data for Name: building_exit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.building_exit (exit_id, created_at, is_active, name, building_id) FROM stdin;
1	2026-02-04 09:34:00.544881	t	Main Entrance	1
3	2026-02-04 09:34:00.544881	t	Main Entrance	2
6	2026-02-04 09:34:00.544881	t	Main Entrance	4
7	2026-02-04 09:34:00.544881	t	Main Entrance	5
8	2026-02-04 09:34:00.544881	t	Main Entrance	3
2	2026-02-04 09:34:00.544881	f	Side Exit East	1
4	2026-02-04 09:34:00.544881	f	Emergency Exit West	2
5	2026-02-04 09:34:00.544881	f	Emergency Exit North	3
9	2026-02-04 09:34:00.544881	f	Back Entrance	4
10	2026-02-04 09:34:00.544881	f	Emergency Exit East	5
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: equipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.equipment (equipment_id, description) FROM stdin;
1	Door Control
2	Blind Control
3	Light Control
4	Ventilation Control
5	Beamer Control
6	Whiteboard
7	Vacuum Robot
\.


--
-- Data for Name: exit_distance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exit_distance (id, time_in_seconds, exit_from_id, exit_to_id) FROM stdin;
1	45	1	2
2	300	3	4
3	120	8	5
4	300	6	9
5	300	7	10
6	120	1	3
7	480	1	8
8	720	1	6
9	900	1	7
10	420	3	8
11	660	3	6
12	840	3	7
13	60	8	6
14	420	8	7
15	300	6	7
16	360	2	4
17	510	2	6
18	500	4	8
19	160	2	3
20	520	2	8
21	760	2	6
22	130	1	4
23	520	1	5
24	800	1	9
25	960	1	10
\.


--
-- Data for Name: meeting_room; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: meeting_room_equipment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.meeting_room_equipment (room_id, equipment_id) FROM stdin;
1	5
1	6
1	3
1	7
1	4
1	1
1	2
3	2
3	1
3	3
4	6
4	1
4	3
4	5
4	4
4	7
4	2
6	3
7	3
8	3
9	3
10	3
11	3
12	3
13	3
14	3
15	3
16	3
17	3
18	3
19	3
20	3
21	3
22	3
23	3
24	3
25	3
26	3
27	3
28	3
29	3
30	3
31	3
32	3
33	3
34	3
35	3
36	3
38	3
39	3
40	3
37	3
41	3
42	3
43	3
44	3
45	3
46	3
47	3
48	3
3	7
2	3
49	3
50	3
51	3
5	3
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notification (id, created_at, is_read, type, booking_id) FROM stdin;
3	2026-02-03 14:42:00.018045	f	REMINDER_END	2
4	2026-02-03 15:23:16.364102	f	CONFIRMATION	3
5	2026-02-03 15:23:16.367822	f	REMINDER_START	3
6	2026-02-03 15:32:46.758294	f	CONFIRMATION	4
7	2026-02-03 15:32:46.760899	f	REMINDER_START	4
8	2026-02-03 15:39:16.005847	f	CONFIRMATION	5
9	2026-02-03 15:39:16.00793	f	REMINDER_START	5
\.


--
-- Name: booking_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booking_booking_id_seq', 5, true);


--
-- Name: building_exit_exit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.building_exit_exit_id_seq', 10, true);


--
-- Name: building_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.building_id_seq', 5, true);


--
-- Name: client_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.client_user_id_seq', 61, true);


--
-- Name: equipment_equipment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.equipment_equipment_id_seq', 7, true);


--
-- Name: exit_distance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exit_distance_id_seq', 25, true);


--
-- Name: meeting_room_room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.meeting_room_room_id_seq', 51, true);


--
-- Name: notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notification_id_seq', 9, true);


--
-- Name: booking booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT booking_pkey PRIMARY KEY (booking_id);


--
-- Name: building_exit building_exit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.building_exit
    ADD CONSTRAINT building_exit_pkey PRIMARY KEY (exit_id);


--
-- Name: building building_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.building
    ADD CONSTRAINT building_pkey PRIMARY KEY (id);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (user_id);


--
-- Name: equipment equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.equipment
    ADD CONSTRAINT equipment_pkey PRIMARY KEY (equipment_id);


--
-- Name: exit_distance exit_distance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exit_distance
    ADD CONSTRAINT exit_distance_pkey PRIMARY KEY (id);


--
-- Name: meeting_room_equipment meeting_room_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room_equipment
    ADD CONSTRAINT meeting_room_equipment_pkey PRIMARY KEY (room_id, equipment_id);


--
-- Name: meeting_room meeting_room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room
    ADD CONSTRAINT meeting_room_pkey PRIMARY KEY (room_id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id);


--
-- Name: client ukah5c1ribskm746956okm9283n; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT ukah5c1ribskm746956okm9283n UNIQUE (username);


--
-- Name: client ukbfgjs3fem0hmjhvih80158x29; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT ukbfgjs3fem0hmjhvih80158x29 UNIQUE (email);


--
-- Name: meeting_room ukh7pn94v8j64tftri1pri2aucp; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room
    ADD CONSTRAINT ukh7pn94v8j64tftri1pri2aucp UNIQUE (client_id);


--
-- Name: building ukoyx9p4qp0ot5mw2vdn1qgax00; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.building
    ADD CONSTRAINT ukoyx9p4qp0ot5mw2vdn1qgax00 UNIQUE (name);


--
-- Name: notification fk2k589bvvxex5a79rt1bdhnw0r; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT fk2k589bvvxex5a79rt1bdhnw0r FOREIGN KEY (booking_id) REFERENCES public.booking(booking_id);


--
-- Name: meeting_room fk9djpu29x4pheo0iy4i7jfq2sg; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room
    ADD CONSTRAINT fk9djpu29x4pheo0iy4i7jfq2sg FOREIGN KEY (client_id) REFERENCES public.client(user_id);


--
-- Name: building_exit fkapr9ygaw0k8wlhy56cn98q74q; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.building_exit
    ADD CONSTRAINT fkapr9ygaw0k8wlhy56cn98q74q FOREIGN KEY (building_id) REFERENCES public.building(id);


--
-- Name: meeting_room_equipment fkd0juacdx1sd1qry4qoxm4wi9a; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room_equipment
    ADD CONSTRAINT fkd0juacdx1sd1qry4qoxm4wi9a FOREIGN KEY (room_id) REFERENCES public.meeting_room(room_id);


--
-- Name: booking fkihg9s7htmftrngqq7ls8tmu08; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT fkihg9s7htmftrngqq7ls8tmu08 FOREIGN KEY (room_id) REFERENCES public.meeting_room(room_id);


--
-- Name: meeting_room fkivthbas0ifscukuqtr7vcsfk8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room
    ADD CONSTRAINT fkivthbas0ifscukuqtr7vcsfk8 FOREIGN KEY (exit_id) REFERENCES public.building_exit(exit_id);


--
-- Name: meeting_room_equipment fkjaoxfm2jrsjti7467ukbn1fhr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_room_equipment
    ADD CONSTRAINT fkjaoxfm2jrsjti7467ukbn1fhr FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id);


--
-- Name: exit_distance fkkxy1psa96kqifl653iaixn5ej; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exit_distance
    ADD CONSTRAINT fkkxy1psa96kqifl653iaixn5ej FOREIGN KEY (exit_from_id) REFERENCES public.building_exit(exit_id);


--
-- Name: booking fklex7ticy9ci7dah7e9atc98rf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT fklex7ticy9ci7dah7e9atc98rf FOREIGN KEY (user_id) REFERENCES public.client(user_id);


--
-- Name: exit_distance fktk393gmel165xgltt2nfmjgoh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exit_distance
    ADD CONSTRAINT fktk393gmel165xgltt2nfmjgoh FOREIGN KEY (exit_to_id) REFERENCES public.building_exit(exit_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 97CvVK7surfwoxODwmBvQpkTnWfkh414LQXcr5XhdRbTH0Feef8tkXeC8xep6ue

